<h1>Make your form here</h1>
<form method="POST" action="/pirates">
    <p>What is your pirate name?
    <input type="text" name="pirate[name]"></p>
    <p>What is your weight?
    <input type="text" name="pirate[weight]"></p>
    <p>What is your height?
    <input type="text" name="pirate[height]"></p>
    <p>What is your first ship name?
    <input type="text" id="ship_name_1" name="pirate[ships][][name]"></p>
    <p>What is your first ship type?
    <input type="text" id="ship_type_1" name="pirate[ships][][type]"></p>
    <p>What is your first ship booty?
    <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"></p>
    <p>What is your second ship name?
    <input type="text" id="ship_name_2" name="pirate[ships][][name]"></p>
    <p>What is your second ship type?
    <input type="text" id="ship_type_2" name="pirate[ships][][type]"></p>
    <p>What is your second ship booty?
    <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"></p>
    <input type="submit" value="Submit">
</form>